1. WHAT ARE THE TYPE OF APPLICATION.

Web Applications – Django, Flask, FastAPI

Desktop GUI Applications – Tkinter, PyQt, Kivy

Data Science & Machine Learning – NumPy, Pandas, TensorFlow

Game Development – Pygame, Panda3D.

Automation & Scripting – Selenium, BeautifulSoup, OS module

IoT Applications – Raspberry Pi (GPIO), MQTT, Arduino

Cybersecurity & Ethical Hacking – Scapy, Pwntools, Socket

Cloud & DevOps – Boto3 (AWS SDK), Docker SDK, Ansible

2.What is programming?

Programming is the process of writing instructions that a computer can execute to perform specific tasks.

It involves using a programming language to create software, automate processes, and solve problems. Programming enables the development of applications, websites, games, and systems by giving computers step-by-step command.

3.What is Python?

Python is a high-level, interpreted programming language .

 It is widely used in various fields, including web development, data science, artificial intelligence, automation, and cybersecurity.

 Python supports multiple programming paradigms, such as procedural, object-oriented, and functional programming.

 It has a  standard library, making it powerful and versatile for different applications. Python’s dynamic typing and ease of syntax make it beginner-friendly while remaining efficient for complex software development

4 .Write a Python program to check if a number is positive, negative or
zero.

In [ ]:
num = float(input("Enter a number :"))
if num > 0:
    print("Positive")
elif num == 0:
    print("zero")
else:
    print("Nagative")

Enter a number :-8
Nagative

5. Write a Python program to get the Factorial number of given numbers.

In [ ]:
def factorial(n):
  if n == 0 or n == 1 :
    return 1
  elif n < 0:
    return Invalid
  else:
    return  n * factorial(n -1)

num = int(input("Enter the number :"))
print(f"The factorial of {num} is {factorial(num)}")

Enter the number :10
The factorial of 10 is 3628800

6. Write a Python program to get the Fibonacci series of given range.

In [ ]:
def fibonacci_series(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

num = int(input("Enter the range: "))
print("Fibonacci Series:")
fibonacci_series(num)

Enter the range: 7
Fibonacci Series:
0 1 1 2 3 5 8

7 .  How memory is managed in Python?

Memory management in Python is a combination of automatic memory management and manual memory management through the use of various techniques and libraries. Here's an overview of how memory is managed in Python:

Automatic Memory Management
Python uses a private heap to manage memory. The private heap is a pool of memory that is allocated by the Python interpreter when it starts up. When Python objects are created, they are stored in this private heap.

Reference Counting
Python uses a technique called reference counting to manage memory. When an object is created, its reference count is set to 1. Every time the object is assigned to a new variable or used in an expression, its reference count is incremented. When the object's reference count reaches 0, it is deallocated from memory.

Garbage Collection
While reference counting is efficient, it's not perfect. In some cases, objects can become cyclically referenced, meaning that they reference each other, but are no longer accessible from the rest of the program. To handle these cases, Python has a garbage collector that periodically scans the heap for unreachable objects and deallocates them.

8.WHAT IS THE PURPOSE  CONTINUING STATEMENT IN PYTHON ?


The continuing statement in Python, denoted by the continue keyword, serves the purpose of skipping the rest of the code inside a loop for the current iteration only.

When the continue statement is encountered in a loop, Python immediately jumps to the next iteration of the loop, ignoring any remaining code in the current iteration.

Here are some key aspects of the continue statement in Python:

1. Skip current iteration: The continue statement skips the rest of the code in the current iteration and moves on to the next iteration.
2. Loop continues: The loop itself does not terminate; only the current iteration is skipped.
3. Used in loops: The continue statement is typically used in for and while loops.

9.Swap Two Numbers with Temp Variable and Without Temp Variable

In [ ]:
def swap_with_temp(a, b):
    temp = a
    a = b
    b = temp
    return a, b


def swap_without_temp(a, b):
    a, b = b, a
    return a, b


a = 5
b = 10
print("Original values: a =", a, ", b =", b)

a, b = swap_with_temp(a, b)
print("Swapped values with temp variable: a =", a, ", b =", b)

a, b = swap_without_temp(a, b)
print("Swapped values without temp variable: a =", a, ", b =", b)

Original values: a = 5 , b = 10
Swapped values with temp variable: a = 10 , b = 5
Swapped values without temp variable: a = 5 , b = 10

10. Find Whether a Given Number is Even or Odd

In [ ]:
def check_even_odd(num):
    if num % 2 == 0:
        print(num, "is even.")
    else:
        print(num, "is odd.")

num = int(input("Enter a number: "))
check_even_odd(num)

Enter a number: 10
10 is even.

11.Test Whether a Passed Letter is a Vowel or Not

In [ ]:
def check_vowel(letter):
    vowels = "aeiouAEIOU"
    if letter in vowels:
        print(letter, "is a vowel.")
    else:
        print(letter, "is not a vowel.")


letter = input("Enter a letter: ")
check_vowel(letter)

Enter a letter: x
x is not a vowel.

12.Sum of Three Given Integers

In [ ]:
def sum_three_integers(a, b, c):
    if a == b or b == c or a == c:
        return 0
    else:
        return a + b + c

a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))
c = int(input("Enter third integer: "))
print("Sum:", sum_three_integers(a, b, c))

Enter first integer: 7
Enter second integer: 8
Enter third integer: 9
Sum: 24

13.Check if Two Given Integer Values Are Equal or Their Sum or Difference is 5

In [ ]:
def check_equal_sum_diff(a, b):
    if a == b or a + b == 5 or abs(a - b) == 5:
        return True
    else:
        return False

a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))
print(check_equal_sum_diff(a, b))

Enter first integer: 8
Enter second integer: 4
False

14.Sum of the First n Positive Integers

In [ ]:
def sum_first_n(n):
    return n * (n + 1) // 2

n = int(input("Enter a positive integer: "))
print("Sum of first", n, "positive integers:", sum_first_n(n))


def calculate_string_length(s):
    return len(s)

s = input("Enter a string: ")
print("Length of the string:", calculate_string_length(s))

Enter a positive integer: 8
Sum of first 8 positive integers: 36
Enter a string: 45445
Length of the string: 5

15.Count the Number of Characters (Character Frequency) in a String

In [ ]:
def count_character_frequency(s):
    frequency = {}
    for char in s:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

s = input("Enter a string: ")
print("Character frequency:", count_character_frequency(s))

Enter a string: xyz
Character frequency: {'x': 1, 'y': 1, 'z': 1}

16. Negative Indexes and Why They Are Used
Negative indexes in Python are used to access elements from the end of a sequence (such as a string, list, or tuple). The index -1 refers to the last element, -2 refers to the second last element, and so on.

17.Count Occurrences of a Substring in a String


In Python, negative indexing allows accessing elements from the end of a sequence (like lists, strings, or tuples). Instead of counting from the beginning (0, 1, 2...), negative indexes count from the end (-1, -2, -3...).
Use of Negative Indexing
Easier access to last elements without needing len() function.
Convenient for slicing from the end.
Avoids IndexErrors when working with unknown-length sequences.

18.Write a Python program to count occurrences of a substring in a string.

In [36]:
s=input("enter string")
space=0
for i in s:
  if i==' ':
    space+=1
print(f"The number of sub-string is {space+1}")

enter stringhello
The number of sub-string is 1

19.Write a Python program to count the occurrences of each word in a given sentence

In [37]:
s=input("Enter a string to find each character's frequency ")
count={}
for i in s:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print(f"The number of each character in \n{s} -> {count}")

Enter a string to find each character's frequency hello
The number of each character in
hello -> {'h': 1, 'e': 1, 'l': 2, 'o': 1}

20. Swap the first two characters of each string
python
Copy
Edit

In [ ]:
def swap_first_two_chars(str1, str2):
    new_str1 = str2[:2] + str1[2:]
    new_str2 = str1[:2] + str2[2:]
    return new_str1 + ' ' + new_str2

string1 = "abc"
string2 = "xyz"
result = swap_first_two_chars(string1, string2)
print(result)

xyc abz

21. Add 'in' or 'ly' to the end of a string

In [ ]:
def add_suffix(s):
    if len(s) < 3:
        return s
    if s.endswith('ing'):
        return s + 'ly'
    else:
        return s + 'ing'

string = "play"
result = add_suffix(string)
print(result)

playing

22. Reverse a string if its length is a multiple of 4

In [ ]:
def reverse_if_multiple_of_four(s):
    if len(s) % 4 == 0:
        return s[::-1]
    return s

string = "abcd"
result = reverse_if_multiple_of_four(string)
print(result)

dcba

23. Get a string made of the first 2 and the last 2 chars

In [ ]:
def first_last_two_chars(s):
    if len(s) < 2:
        return ''
    return s[:2] + s[-2:]

string = "abcdefg"
result = first_last_two_chars(string)
print(result)

abfg

24. Insert a string in the middle of another string

In [ ]:
def insert_in_middle(main_str, insert_str):
    mid = len(main_str) // 2
    return main_str[:mid] + insert_str + main_str[mid:]

main_string = "HelloWorld"
insert_string = "beautiful"
result = insert_in_middle(main_string, insert_string)
print(result)

HellobeautifulWorld

25. What is a List? How to reverse a list?


A List in Python is a collection of ordered, mutable, and indexable elements. Lists can contain different data types.
To reverse a list:

In [ ]:
list_example = [1, 2, 3, 4, 5]
list_example.reverse()
print(list_example)

reversed_list = list_example[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

26.Remove the last object from a list

In [ ]:
list_example = [1, 2, 3, 4, 5]
list_example.pop()
print(list_example)

[1, 2, 3, 4]

27. What is list1[-1] if list1 = [2, 33, 222, 14, 25]?

In [ ]:
list1 = [2, 33, 222, 14, 25]
print(list1[-1])

25

28. Difference between append() and extend() methods

append() adds a single element at the end of the list.
extend() adds each element of an iterable to the end of the list.

In [ ]:
list1 = [1, 2, 3]
list1.append([4, 5])
print(list1)

list2 = [1, 2, 3]
list2.extend([4, 5])
print(list2)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

29. Get the largest, smallest, and sum of all numbers in a list

In [ ]:
def list_stats(lst):
    largest = max(lst)
    smallest = min(lst)
    total = sum(lst)
    return largest, smallest, total

numbers = [1, 2, 3, 4, 5]
largest, smallest, total = list_stats(numbers)
print(f"Largest: {largest}, Smallest: {smallest}, Sum: {total}")

Largest: 5, Smallest: 1, Sum: 15

30. Compare two lists

In [ ]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = [1, 2, 4]

print(list1 == list2)
print(list1 == list3)

True
False

31. Count strings with length 2+ and same first and last character

In [ ]:
def count_special_strings(words):
    return sum(1 for word in words if len(word) >= 2 and word[0] == word[-1])

words_list = ['abc', 'xyz', 'aba', '1221']
result = count_special_strings(words_list)
print(result)

2

32. Remove duplicates from a list

In [ ]:
def remove_duplicates(lst):
    return list(set(lst))

list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
result = remove_duplicates(list_with_duplicates)
print(result)

[1, 2, 3, 4, 5]

33. Check if a list is empty

In [ ]:
def is_list_empty(lst):
    return len(lst) == 0

empty_list = []
result = is_list_empty(empty_list)
print(result)

True

34. Check if two lists have at least one common member

In [ ]:
def have_common_member(list1, list2):
    return bool(set(list1) & set(list2))

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
result = have_common_member(list1, list2)
print(result)

True

35. List of first and last 5 elements (squares of numbers 1 to 30)

In [ ]:
def first_last_squares():
    squares = [x**2 for x in range(1, 31)]
    return squares[:5] + squares[-5:]

result = first_last_squares()
print(result)

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

36. Return a new list with unique elements

In [ ]:
def unique_elements(lst):
    return list(set(lst))

list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
result = unique_elements(list_with_duplicates)
print(result)

[1, 2, 3, 4, 5]

37. Convert a list of characters into a string

In [ ]:
def list_to_string(char_list):
    return ''.join(char_list)

char_list = ['H', 'e', 'l', 'l', 'o']
result = list_to_string(char_list)
print(result)

Hello

38. Select an item randomly from a list

In [ ]:
import random

def random_choice(lst):
    return random.choice(lst)

items = [1, 2, 3, 4, 5]
result = random_choice(items)
print(result)

5

39. Find the second smallest number in a list

In [ ]:
def second_smallest(lst):
    unique_elements = sorted(set(lst))
    return unique_elements[1] if len(unique_elements) > 1 else None

numbers = [1, 2, 2, 3, 4, 5]
result = second_smallest(numbers)
print(result)

2

40. Get unique values from a list

In [ ]:
def get_unique_values(lst):
    return list(set(lst))

numbers = [1, 2, 2, 3, 4, 4, 5]
result = get_unique_values(numbers)
print(result)

[1, 2, 3, 4, 5]

41. Check if a list contains a sublist

In [ ]:
def contains_sublist(lst, sublist):
    return any(lst[i:i+len(sublist)] == sublist for i in range(len(lst) - len(sublist) + 1))

main_list = [1, 2, 3, 4, 5]
sub_list = [3, 4]
result = contains_sublist(main_list, sub_list)
print(result)

True

42. Split a list into different variables

In [ ]:
list_example = [1, 2, 3]
a, b, c = list_example
print(a, b, c)

1 2 3

43. What is a Tuple? Difference between List and Tuple

Tuple: An ordered collection of elements that is immutable (cannot be modified after creation).
Difference:
List: Mutable, uses square brackets [], slower.
Tuple: Immutable, uses parentheses (), faster.

In [ ]:
# Example
list_example = [1, 2, 3]
tuple_example = (1, 2, 3)

44. Create a tuple with different data types

In [ ]:
mixed_tuple = (1, "Hello", 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

45. Unzip a list of tuples into individual lists

In [ ]:
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
numbers, letters = zip(*list_of_tuples)
print(numbers)
print(letters)

(1, 2, 3)
('a', 'b', 'c')

46. Convert a list of tuples into a dictionary

In [ ]:
def tuples_to_dict(tuples_list):
    return dict(tuples_list)

tuples_list = [('a', 1), ('b', 2), ('c', 3)]
result = tuples_to_dict(tuples_list)
print(result)

{'a': 1, 'b': 2, 'c': 3}

47. Create a dictionary using tuples in Python

In [ ]:
tuples = (('name', 'John'), ('age', 25), ('city', 'New York'))
dictionary = dict(tuples)
print(dictionary)

{'name': 'John', 'age': 25, 'city': 'New York'}

48. Sort a dictionary by value (ascending and descending)

In [ ]:
def sort_dict_by_value(d, ascending=True):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))

example_dict = {'apple': 3, 'banana': 1, 'cherry': 2}


ascending_result = sort_dict_by_value(example_dict, ascending=True)
print("Ascending:", ascending_result)


descending_result = sort_dict_by_value(example_dict, ascending=False)
print("Descending:", descending_result)

Ascending: {'banana': 1, 'cherry': 2, 'apple': 3}
Descending: {'apple': 3, 'cherry': 2, 'banana': 1}

49. Concatenate multiple dictionaries to create a new one

In [ ]:
def concatenate_dicts(*dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {'e': 5}

result = concatenate_dicts(dict1, dict2, dict3)
print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

50. Check if a given key already exists in a dictionary

In [ ]:
def key_exists(d, key):
    return key in d

example_dict = {'name': 'Alice', 'age': 30}
key_to_check = 'age'

result = key_exists(example_dict, key_to_check)
print(result)

True

51 How Do You Traverse Through a Dictionary Object in Python?

In [1]:
my_dict = {'a': 1, 'b': 2, 'c': 3}


for key in my_dict:
    print(key, my_dict[key])


for value in my_dict.values():
    print(value)


for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

a 1
b 2
c 3
1
2
3
Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

52 How Do You Check the Presence of a Key in A Dictionary?

In [2]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

if 'b' in my_dict:
    print("Key 'b' exists in the dictionary.")
else:
    print("Key 'b' does not exist.")

Key 'b' exists in the dictionary.

53 Write a Python script to print a dictionary where the keys are numbers between 1 and 15.

In [3]:
num_dict = {x: x**2 for x in range(1, 16)}
print(num_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

54 Write a Python program to check multiple keys exist in a dictionary.

In [4]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}


keys_to_check = {'a', 'c', 'd'}


if keys_to_check.issubset(my_dict.keys()):
    print("All keys exist in the dictionary.")
else:
    print("Some keys are missing.")

All keys exist in the dictionary.

55 Write a Python script to merge two Python dictionaries.

In [5]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}


dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

56. Write a Python program to map two lists into a dictionary.

In [6]:
keys = ['name', 'age', 'city']
values = ['jhon', 25, 'New York']

mapped_dict = dict(zip(keys, values))

print(mapped_dict)

{'name': 'jhon', 'age': 25, 'city': 'New York'}

57 Write a Python program to find the highest 3 values in a dictionary.

In [7]:
my_dict = {'a': 10, 'b': 25, 'c': 45, 'd': 30, 'e': 50}


highest_values = sorted(my_dict.values(), reverse=True)[:3]

print(highest_values)

[50, 45, 30]

58 Write a Python program to combine values in a Python list of dictionaries.

In [8]:
from collections import Counter

data = [{'item': 'item1', 'amount': 400},
        {'item': 'item2', 'amount': 300},
        {'item': 'item1', 'amount': 750}]

counter = Counter()

for entry in data:
    counter[entry['item']] += entry['amount']

print(counter)

Counter({'item1': 1150, 'item2': 300})

59.Write a Python program to create a dictionary from a string

In [10]:
from collections import Counter
string = "coding"
letter_count = Counter(string)
print(letter_count)

Counter({'c': 1, 'o': 1, 'd': 1, 'i': 1, 'n': 1, 'g': 1})

60.Sample string:'w3resource'

In [11]:
string = "w3resource"
letter_count = Counter(string)
print(letter_count)

Counter({'r': 2, 'e': 2, 'w': 1, '3': 1, 's': 1, 'o': 1, 'u': 1, 'c': 1})

61.Write a Python function to calculate the factorial of a number (a nonnegative integer)

In [12]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        result=1
        for i in range(1, n + 1):
            result *= i
        return result

factorial(5)

120

 62.Write a Python function to check whether a number is in a given range.

In [13]:
def in_range(num, start, end):
    return start <= num <= end

print(in_range(10, 5, 15))

True

63 Write a Python function to check whether a number is perfect or not.

In [14]:
def is_perfect(n):
    return n == sum(i for i in range(1, n) if n % i == 0)

print(is_perfect(28))

True

64.Write a Python function that checks whether a passed string is palindrome or not

In [15]:
def is_palindrome():
    s=input('Enter the string->')
    return s==s[::-1]
is_palindrome()

Enter the string->abcba

True

65.How Many Basic Types of Functions Are Available in Python?

Basic Types of Functions in Python:

These are predefined functions in Python.
Example: print(), len(), sum(), max(),
-User-defined Functions
Functions created by users using the def keyword.
-Other Function Types:
Lambda Functions → Anonymous, single-expression functions.
Recursive Functions → Functions that call themselves.
Generator Functions → Functions that use yield instead of return.

66.How can you pick a random item from a list or tuple?


Using the random.choice() function from the random module

67 How can you pick a random item from a range?

In [22]:
import random

random_number = random.randrange(1, 200)
print(random_number)

5

68 How can you get a random number in Python?

In [26]:
import random

random_num = random.random()

print(random_num)

0.9202487603732052

69.How will you set the starting value in generating random numbers?

Use random.seed(value) to initialize the random number generator with a specific seed value.




70.How will you randomize the items of a list in place?


To randomize the items of a list in place, you can use the random.shuffle() function from the random module. This function rearranges the elements of the list in a random order directly (in place), without returning a new list.

71 What is a File function in Python? What are keywords to create and write a file?


File functions in Python are used to handle files (reading, writing, and modifying them). The main function for file handling is open().
Keywords to create and write a file:

"w" → Write mode (overwrites existing content)

"a" → Append mode (adds content without overwriting)

"x" → Exclusive mode (creates a new file, fails if it exists)

"r" → Read mode (default)

72 Write a Python program to read an entire text file.

In [27]:
with open("example.txt", "r") as file:
    content = file.read()

print(content)

73 Write a Python program to append text to a file and display the text.

In [ ]:
with open("example.txt", "a") as file:
    file.write("\nThis is an appended line.")

with open("example.txt", "r") as file:
    content = file.read()

print(content)

74 Write a Python program to read the first n lines of a file.

In [ ]:
def read_first_n_lines(filename, n):
    with open(filename, "r") as file:
        for _ in range(n):
            print(file.readline().strip())

read_first_n_lines("example.txt", 3)

75 Write a Python program to read the last n lines of a file.

In [ ]:
from collections import deque

def read_last_n_lines(filename, n):
    with open(filename, "r") as file:
        lines = deque(file, n)
    print("".join(lines))

read_last_n_lines("example.txt", 3)

76 Write a Python program to read a file line by line and store it into a list.

In [28]:
with open("example.txt", "r") as file:
    lines = file.readlines()

print(lines)

[]

77 Write a Python program to read a file line by line and store it into a variable.

In [ ]:
with open("example.txt", "r") as file:
    content = file.read()

print(content)

78 Write a Python program to find the longest word in a file.

In [ ]:
def longest_word(filename):
    with open(filename, "r") as file:
        words = file.read().split()
    return max(words, key=len)

print("Longest word:", longest_word("example.txt"))

79 Write a Python program to count the number of lines in a text file.

In [ ]:
def count_lines(filename):
    with open(filename, "r") as file:
        return sum(1 for _ in file)

print("Number of lines:", count_lines("example.txt"))

80 Write a Python program to count the frequency of words in a file and explain the code.

In [ ]:
from collections import Counter

def word_frequency(filename):
    with open(filename, "r") as file:
        words = file.read().lower().split()
    word_count = Counter(words)
    return word_count

print(word_frequency("example.txt"))

81 Write a Python program to write a list to a file.

In [ ]:
my_list = ["apple", "banana", "cherry", "date"]

with open("output.txt", "w") as file:
    for item in my_list:
        file.write(item + "\n")

print("List written to file successfully!")

82 Write a Python program to copy the contents of a file to another file.

In [ ]:
with open("source.txt", "r") as source, open("destination.txt", "w") as dest:
    for line in source:
        dest.write(line)

print("File copied successfully!")

83 Explain Exception Handling? What is an Error in Python?

 Exception Handling is used to manage runtime errors in Python. It prevents the program from crashing and allows for proper debugging.

 Errors in Python:

Syntax Errors – Mistakes in the code structure (print "Hello" instead of print("Hello")).
Runtime Errors (Exceptions) – Errors that occur while executing the program (e.g., division by zero, file not found).

84 How many except statements can a try-except block have? Name Some built-in exception classes.

 A try block can have multiple except blocks, handling different exceptions separately.

Some built-in exception classes:


ZeroDivisionError

FileNotFoundError

IndexError


ValueError

KeyError

TypeError

NameError

85 When will the else part of try-except-else be executed?

In [29]:
try:
    num = int(input("Enter a number: "))
except ValueError:
    print("Invalid input!")
else:
    print("You entered:", num)

Enter a number: 74
You entered: 74

86 Can one block of except statements handle multiple exceptions?

In [ ]:
try:
    x = int("hello")
except (ValueError, TypeError) as e:
    print("Exception occurred:", e)

87 When is the finally block executed?

In [30]:
try:
    print(10 / 2)
except ZeroDivisionError:
    print("Cannot divide by zero!")
finally:
    print("This always runs!")

5.0
This always runs!

88 What happens when '1' == 1 is executed?

It returns False, because:

'1' is a string.

1 is an integer.

89 How Do You Handle Exceptions with Try/Except/Finally in Python? Explain with coding snippets.

In [31]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("Cannot divide by zero!")
except ValueError:
    print("Invalid input! Enter a number.")
else:
    print("Result:", result)
finally:
    print("Execution completed.")

Enter a number: 50
Result: 0.2
Execution completed.

90 Write a Python program that allows the user to enter only odd numbers, else it will raise an exception.

In [34]:
class NotOddNumber(Exception):
    pass

try:
    num = int(input("Enter an odd number: "))
    if num % 2 == 0:
        raise NotOddNumber("This is not an odd number!")
    print("Valid input:", num)
except NotOddNumber as e:
    print(e)
except ValueError:
    print("Invalid input! Enter a number.")

Enter an odd number: 11
Valid input: 11